# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime

df['date']= pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index

df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [5]:
# Drop the date column
df.reset_index(drop=True, inplace=True)

df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months

june_df = df[df['date'].dt.month == 6]
dec_df = df[df['date'].dt.month == 12]

In [8]:
june_df.head()

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77

In [9]:
# Identify the average temperature for June

avgtemp_june = round(june_df['tobs'].mean(),2)

print(f"The avg temp of June is {avgtemp_june}.")

The avg temp of June is 74.94.

In [10]:
# Identify the average temperature for December

avgtemp_dec = round(dec_df['tobs'].mean(),2)

print(f"The avg temp of December is {avgtemp_dec}.")

The avg temp of December is 71.04.

In [11]:
# Calculate difference between means

avg_difference = round(abs(avgtemp_dec - avgtemp_june),2)

print(f"The difference between means is {avg_difference}.")

The difference between means is 3.9.

In [12]:
# Create collections of temperature data

june_sample = june_df['tobs'].sample(n = 30)

dec_sample = dec_df['tobs'].sample(n = 30)

In [13]:
# Run paired t-test
stats.ttest_rel(june_sample, dec_sample)

Ttest_relResult(statistic=4.368687016359131, pvalue=0.00014586813703030947)

In [14]:
# Run Unpaired t-test
stats.ttest_ind(june_df['tobs'], dec_df['tobs'], equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

* The difference between the means is aproximately 4.
* An unpaired t-test is what you would use because the temperatures are from two different months.
* In this case the statistical value of unpaired t-test is insignificant because the p-value is greater than .05%.